

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h3>What is Humanity Report?</h3>
                    <p>The Humanity Report is a tool that allows users around the world to report human rights violations anonymously. Sharing knowledge of abuses could lead to more justice for victims of violations that happen around the world everyday.</p>
                </div>
                <div class="col-lg-4">
                    <h3>What are Human Rights?</h3>
                    <p>Human rights are the beleif that rights are inherent to all human beings, regarless of our  place of residence, age, sex, sexual-orientation, gender identity, national or ethnic origin, color, religion, language, or any other status. In an increasingly globalized world it is important to note that human rights also include workers rights. Every human is equaly entitled to the same human rights.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="mailto:alexandermonsanto@gmail.com" target="_blank" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i> Email Us
                    </a>
                </div>
            </div>
        </div>
    </section>
