<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name"><%= __('Report Human Rights Violations') %></span>
                      <img class='equality' src='images/hr-icon.png'>
                    <hr class="star-primary">
                    <span class="skills"><%= __('Dignity - Knowledge - Justice') %></span>
                </div>
            </div>
        </div>
    </div>
</header>
